body {
    /* background: linear-gradient(45deg, rgb(68 182 254), rgb(86 86 214)); */
    /* background: #CACACA; */
    /* background-size: 300%; */
    /* overflow: auto; */
    height: var(--full-height);
    animation: bgcolor 5s linear infinite;
}

@keyframes bgcolor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

:root {
    --full-height: 100vh;
  
}


/* -----------------------------------------Add User ------------------------------------- */

.add-user-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: auto; */
}

.form-container {
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.2);
    backdrop-filter: blur(10px);
}

#policyDetailContainer {
    /* background: #36256E; */
    /* background: #36256E; */
    height: 100vh;
    display: flex;
    --bs-gutter-x: 0;
    overflow: auto;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.net-hos-table> :not(caption)>*>* {
    color: rgba(54, 37, 110, 1) !important;
    padding: 15px 0px 15px 0px !important;
    /* Corrected padding values */
}

.main-div {
    width: 750px;
    position: relative;
    /* height: 60vh; */
    /* min-height: 546px;
    max-height: 650px; */
    border-radius: 10px;
    background-color: #FFF;
    /* margin: auto; */
    overflow-y: scroll;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}


.net-hos-table th:nth-child(1) {
    width: 18%;
}

.net-hos-table th:nth-child(2) {
    width: 18%;
}

.net-hos-table th:nth-child(3) {
    width: 30%;
}

.net-hos-table th:nth-child(4) {
    width: 24%;
}

.net-hos-table th:nth-child(5) {
    width: 10%;
}

.bg-col-netHos {
    background-color: #F0F0F0 !important;
    width: 100% !important;
    text-align-last: center;
    color: #36256E !important;
}

.custom-dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../src/asset/dropdown.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    margin-right: 20px;
}

.search-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.search-bar::placeholder {
    font-size: 16px;
    color: #36256E80;
    font-family: Poppins;
    font-weight: 400;
    text-align: left;
}

/* .task-data::-webkit-scrollbar {
    display: none;
} */

.txt-color {
    color: rgba(54, 37, 110, 1) !important;
}

/* ------------------------------------navbar css---------------------------------------------------- */

.dashboard {
    width: 100%;
}

.nav-gap {
    width: 14%;
    gap: 20px;
    display: flex;
}

/* -------------------------------------dashboard---------------------------------------------------- */
.dashboard-comp {
    width: 150px;
    /* Initial width */
    min-height: 100%;
    position: relative;
    background: #060606 !important;
    transition: width 0.3s ease-in-out;
    /* overflow: scroll; */
}

.dashboard-comp.expanded {
    width: 300px;
    /* Expanded width when toggle button is clicked */
}

.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.icon-wrapper {
    margin-bottom: 15px;
    /* Space between icons */
    width: 100%;
}

.icon-content {
    padding: 10px;

}
.icon-txt-color{
color:  #000 !important;;
}

.icon-active{
    background-color: gray;
    border-radius: 50px;
}

.iconContentWrap {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 50px;
    /* Adjust image width */
    height: 50px;
    /* Adjust image height */
    margin-right: 10px;
    /* Space between icon and text */
}

.icon-text {
    color: white;
}

.open-close {
    position: relative;
    left: -10px;
}



/* Optional: Hover effect */
/* .icon-content:hover {
    background-color: #f0f0f0;
} */

/* --------------------------------------------------cards------------------------------------------------- */
.cards {
    margin-top: 20px;
}
.card-data{
    display: flex;
    justify-content: space-between;
}
.card-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 8%;
    min-width: 200px;
    max-width: 400px;
    height: 180px;
    min-height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    color: #36256E;
    margin: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.card-section1 {
    width: 38px;
    height: 38px;
    text-align: center;
    background: #9747FF;
    border-radius: 25px;
    border: 1px solid white
}

.card-section2 {

    width: 80%;
}


.card-details-label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.card-details-value {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* ------------------------------------------------speedometer-------------------------- */
/* 
.speedometer-container{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
}
.center-point{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.speedometer-scale{
    width: 8px;
    height: 280px;
    background-color: black;
    position: absolute;
    left:143px;
    top:7px;
    transform: rotate(-90deg);
} */

.chart-container{
    background: #FFFFFF;
}

#chart{
    height: 25vh;

}







@media screen and (max-width:576px) {
    .card-container {
        margin: 10px !important;

    }
}


/* design.css */

/* General styles for the container */


/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    #policyDetailContainer {
        /* margin: 10px auto;
        padding: 10px; */
        overflow: auto;
        height: 100%;
        --bs-gutter-x: 0;

    }

    .d-flex {
        flex-direction: column;
        gap: 10px;
    }

    .dropdown.show {
        width: 100%;
        display: none;
    }

    .search-data {
        width: 100%;
        margin-top: 10px;
        display: none;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table.net-hos-table th,
    .table.net-hos-table td {
        font-size: 12px;
        padding: 5px;
    }

    .icon-img {
        width: 20px;
        height: 20px;
    }
}

/* Further adjustments for very small screens */
@media screen and (max-width: 576px) {
    #policyDetailContainer {
        margin: 5px auto;
        padding: 5px;
    }

    .search-data input {
        width: 100%;
        display: none;
    }

    .search-data span {
        width: 30%;
        display: inline-block;
        text-align: center;
    }

    .main-div {

        margin-top: 30px;
    }

    .table.net-hos-table th,
    .table.net-hos-table td {
        font-size: 10px;
        padding: 3px;
    }
}

/* -------------------------------------------------media query for add user------------------------------------ */

@media screen and (max-width: 480px) {
    .form-container {
        width: 275px;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .form-container {
        width: 20rem;
    }
}